/* Base */
@import "base/variables.css";
@import "base/reset.css";
@import "base/typography.css";

/* Layout */
@import "layout/grid.css";
@import "layout/header.css";
@import "layout/navigation.css";
@import "layout/footer.css";

/* Components */
@import "components/buttons.css";
@import "components/forms.css";
@import "components/cards.css";

/* Sections */
@import "sections/hero.css";
@import "sections/about.css";
@import "sections/services.css";
@import "sections/portfolio.css";
@import "sections/testimonials.css";
@import "sections/contact.css";

.hero-background {
  background-image: url("Images/4a.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
